* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.orqHome {
  display: flex;
  border: solid red;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60vh;

  .orqHome__title {
    color: purple;
    text-align: center;
  }

  .orqHome__components {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
  }
}

.orqAddTask {
  width: 80vw;
  .orqAddTask__form {
    border: solid brown;
    display: flex;
    justify-content: space-around;
  }
}

.orqCardTask {
  display: flex;
  justify-content: space-around;
  border: solid blue;
}

.nav {
  color: red;

  &__list {
    color: aquamarine;
  }

  &__item {
    color: blue;
  }

  &__link {
    color: purple;

    &--active {
      background-color: bisque;
    }
  }
}
