* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background-color: #1c1a1a;
//   color: #f8f2f2;
//   font-size: 2rem;
// }

.orqMain {
  // max-width: 960px;
  // margin: 0px auto;
  // padding: 0px 15px;
  // min-height: 100vh;
}

.orqHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;

  .orqqHeader__noteTitle {
    color: #fff;
    font-size: 38px;
    font-family: "Montserrat";
    font-weight: 400;
  }
}

.orqHome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60vh;
  margin: 10px 0px;

  .orqHome__title {
    // color: #fff;
    font-size: 38px;
    font-family: "Montserrat";
    font-weight: 400;
  }

  .orqHome__components {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
}

.orqSearch {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  gap: 20px;
  width: 100%;
  // border: solid red;

  .orqSearchTask__input {
    width: 80%;
    padding: 12px 16px;
    border-radius: 8px;
    // color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  .orqSearchTask__button {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    // padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    // background-color: white;
    width: 150px;
    height: 30px;
  }
}

.orqFormTask {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .orqFormTask__input {
    width: 50%;
    padding: 12px 16px;
    border-radius: 8px;
    // color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }

  .orqFormTask__label {
    display: block;
    margin-bottom: 5px;
    // color: #f8f2f2;
    font-weight: 600;
    font-size: 12px;
  }

  .orqformTask__button {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    // padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    // background-color: white;
    width: 150px;
    height: 30px;
  }
}

.orq-listTask {
  // color: antiquewhite;
  text-align: center;

}

.orqTask {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;

  .orqTask__label {
    // color:
  }

  .orqTask__label--checked {
    color: blue;
  }

  .orqTask__button {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    // padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    // background-color: white;
    width: 150px;
    height: 30px;
  }
}

.orq-table-task{
  color: black;
  .orq-table-task-concluded{
    text-decoration: line-through;
    color: gray;
  }
}